/* this is a comment in CSS */

/*
https://www.educative.io/answers/class-and-id-selectors-in-css
*/


.james-photo{
    width: 500px;
}

#greetings{
    color: darkblue;
}

.major-box{
    padding: 30px;
    border: 1px solid black;
    background-color: grey;
}

.grid-0{
    display: grid;
    grid-template-columns: auto auto;
}

.box-0{
    padding-right: 10px;
}

.intro{
    text-align: center;
}

.navbar{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0%;
    width: 97%;
    background-color: transparent;
}

.text-right{
    text-align: right;
}

html{
    background-color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

